<div class="container" *ngIf="dashboard">
    <div class="row mt-5">
        <div class="col-md-3">
            <div class="card-counter bg-dark">
                <span class="count-numbers">{{ dashboard.totalInvestments | inrCurrency }}</span>
                <span class="count-name">Total Investments</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card-counter bg-dark">
                <span class="count-numbers">{{ dashboard.totalWithdrew | inrCurrency }}</span>
                <span class="count-name">Total Withdrew</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card-counter bg-dark">
                <span class="count-numbers">{{ dashboard.totalTaxes | inrCurrency }}</span>
                <span class="count-name">Total Taxes</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card-counter bg-dark">
                <span class="count-numbers">{{ dashboard.totalBrokerage | inrCurrency }}</span>
                <span class="count-name">Total Brokerage</span>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-3">
            <div class="card-counter bg-dark">
                <span class="count-numbers">{{ dashboard.currentInvestments | inrCurrency }}</span>
                <span class="count-name">Current Investments</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card-counter bg-dark">
                <span class="count-numbers">{{ dashboard.currentValueBT | inrCurrency }}</span>
                <span class="count-name">Current Value Before Tax</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card-counter bg-dark">
                <span class="count-numbers">{{ dashboard.currentTaxes | inrCurrency }}</span>
                <span class="count-name">Current Taxes</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card-counter bg-dark">
                <span class="count-numbers">{{ dashboard.currentBrokerage | inrCurrency }}</span>
                <span class="count-name">Current Brokerage</span>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-3">
            <div class="card-counter bg-dark">
                <span class="count-numbers">{{ dashboard.netCurrentValue | inrCurrency }}</span>
                <span class="count-name">Net Current Value</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-counter bg-dark">
                <span class="count-numbers">{{ dashboard.currentPL | inrCurrency }}</span>
                <span class="count-name">Current Profit/Loss</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-counter bg-dark">
                <span class="count-numbers">{{ dashboard.currentMargin }}%</span>
                <span class="count-name">Current Margin</span>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3">
            <div class="card-counter bg-dark">
                <span class="count-numbers">{{ dashboard.totalProfit | inrCurrency }}</span>
                <span class="count-name">Total Profits</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-counter bg-dark">
                <span class="count-numbers">{{ dashboard.totalMargin }}%</span>
                <span class="count-name">Total Margin</span>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3">
            <div class="card-counter bg-dark">
                <span class="count-numbers">{{ dashboard.depositBal | inrCurrency }}</span>
                <span class="count-name">Deposit Amount</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-counter bg-dark">
                <span class="count-numbers">{{ (dashboard.depositBal + dashboard.totalProfit - dashboard.currentInvestments) | inrCurrency }}</span>
                <span class="count-name">Avl Bal in TA</span>
            </div>
        </div>
    </div>
</div>